@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CTA Tracker</h1>
    
    <h4>
        <a asp-area="" asp-controller="Tracker" asp-action="Index">Tracker Home</a>
    </h4>
</div>