@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <a class="btn btn-primary" asp-controller="NSFWVideos" asp-action="TNA">TNA Videos</a>
    <a class="btn btn-primary" asp-controller="NSFWVideos" asp-action="SpankBang">SpankBang Videos</a>
</div>