body {
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

canvas {
    display: block;
    margin: auto;
    text-align: center;
}