#box-model {
    color: darkblue;
    padding: 10px;
    border: 3px dotted purple;
    margin: 20px;
}

.pizza {
    padding: 20px;
    border: 10px solid saddlebrown;
    margin: 20px;
    width: 100px;
    text-align: center;
}

#pizza1 {
    color: orange;
    background-color: yellow;
}

#pizza2 {
    color: red;
    background-color: wheat;
    border: 5px solid saddlebrown;
}

#pizza3 {
    border: 10px solid black;
    color: darkgreen;
    background-color: lightgreen;
}