@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-semibold">ESPN Scrapers</h1>
    
    <h4>
        <a asp-area="NFLScraper" asp-controller="Teams" asp-action="NFLTeams">NFL Scraper</a>
        <br />
        <a asp-area="CFBScraper" asp-controller="" asp-action="">College Football Scraper</a>
    </h4>
</div>