body, h1, h2, ul, li, p, input, textarea, a {
    margin: 2px 2px 2px 50px;
    padding: 0;
}

body {
    margin: 2px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

textarea, input {
    width: 30%;
    min-width: 200px;
}

textarea {
    height: 50px;
}