@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1>2025 Computer Upgrade</h1>
    
    <p>This application will list the various components and accessories to upgrade my 2019 computer</p>
    
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="MicrocenterComponents">Microcenter Components</a>
</div>