@import "Globals.css";

body {
    font-family: var(--font-family), monospace;
    text-align: center;
}

canvas {
    border: 2px solid slategray;
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
}