:root {
    --background-color: #1e1e1e;
    --foreground-color: #f0f0f0;
    --font-family: "Comic Mono";
    --button-color: #007bff;
    --button-hover-color: #0056b3;
    --layer-color: #2d2d30;
    --layer-border-color: #333;
    --palette-color: #1e1e1e;
    --palette-border-color: #555;
    --editor-color: #252526;
    --editor-border-color: #333;
    --editor-text-color: #ddd;
    --editor-button-color: #007bff;
    --editor-button-hover-color: #0056b3;
    --editor-layer-color: #2d2d30;
    --editor-layer-border-color: #333;
    --editor-palette-color: #1e1e1e;
    --editor-palette-border-color: #555;
    --editor-text-size: 11px;
}

button {
    cursor: pointer;
    font-family: inherit;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: var(--button-color);
    color: white;
}

button:hover {
    background: var(--button-hover-color);
}