@model MVCApp.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center">
    <h2>Are You Sure You Want To Delete This Item??</h2>
    
    <p>@Model.Name</p>
    <p>$@Model.Price</p>
    
    <form asp-action="Delete" method="post">
        <input asp-for="Id" type="hidden" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>