@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Train Trackers</h1>
    
    <h4>
        <a asp-area="CTATracker" asp-controller="Tracker" asp-action="Index">CTA Tracker</a>
        <br />
        <a asp-area="MetraTracker" asp-controller="Tracker" asp-action="Index">Metra Tracker</a>
    </h4>
</div>