form {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

div {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input {
    border-radius: 5px;
}

input:invalid {
    border: 2px solid red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

button {
    margin: 10px;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 5px;
}