@{
    string route = (ViewBag.SelectedRoute as string) ?? (string?)Context.Request.Query["route"] ?? "red";
    string displayRoute = Functions.GetDisplayName(route);
    string lineCss = Functions.GetLineCss(route);

    ViewData["Title"] = $"{displayRoute} Line Route Number: {@ViewBag.RouteNumber}";
}

<div class="container text-center">
    <h2 class="@lineCss">@displayRoute Line</h2>
    
    <h5 class="@lineCss">Route Number: @ViewBag.RouteNumber</h5>
</div>