@{
    ViewData["Title"] = $"Red Line Route Number: {@ViewBag.RouteNumber}";
}

<div class="container text-center">
    <h2 class="redLine">Red Line</h2>
    
    <h5 class="redLine">Route Number: @ViewBag.RouteNumber</h5>
</div>